<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nothing in here</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #495057;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 50px;
            margin: 0;
        }
        p {
            font-size: 20px;
            margin: 20px 0;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Nothing in here. Go away !</p>
    <a href="/">Back to home</a>
    <br>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Not back to home</a>
</body>
</html>